.calendar {
	margin-left: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
  }
  /*header*/
  .calendar-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	box-sizing: border-box;
	height: 70px;
  }
  /**all the table */
  .calendar-table {
	width: 100%;
	flex-grow: 1; /* Grow to fill the available space */
	overflow: hidden; /* Hide overflow to prevent scrolling */
  }
  
  .calendar-table th,
  .calendar-table td {
	border: 1px solid var(--light-gray);
	padding: 8px;
	text-align: center;
	position: relative;
  }
  
  .calendar-table th {
	background-color: #f2f2f2;
	height: 30px;
  }

  .calendar-table td {
	height: calc((100% - 20px) / 6); /* Calculate dynamic height for each cell */
  }
  
  .calendar-day-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		padding: 8px;
		overflow: hidden;
	}
	/*Events styling */ 
	.calendar-day-container-event {
		width: 95%;
		height: fit-content;
		text-align: start;
		background-color: var(--red);
		color: var(--white);
		border-radius: 5px;
		padding: 2px 5px;
		margin: 2px 0;
		cursor: pointer;;
	}
  .grayed {
	color: var(--gray);
  }
  
  .current-day {
	background-color: var(--blue);
  }
  

@media screen and (max-width: 820px) {
	.calendar {
		margin-top: 80px;
		margin-left: 0;
	  }
	
		.calendar-header {
			font-size: small;
			text-align: center;
		}
		.calendar-header h2 {
			padding: 0 10px;
			font-size: 16px;
		}
		.calendar-header button {
			
		}
  }