.progressionMilestone-container {
	display: flex;
	justify-content: center;
}

.progressionMilestone {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.progressionMilestone-image {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--gray);
	padding: 0.5rem;
	border-radius: 5rem;
}
.progressionMilestone-title {
	text-align: center;
	inline-size: 150px;
	height: 50px;
  	overflow-wrap: break-word;
}


.milestone-in-progress {
	background-color: var(--blue);
}

.milestone-done {
	background-color: var(--green);
}

.progressionMilestone-separator {
	margin-top: 1.2rem;
	height: 6px;
	border-radius: 10px;
	width: 80px;
	background-color: var(--dark-gray);
}
	
.separator-done {
	background-color: var(--green);
}


.glow {
	animation: glowing 0.5s ease-in-out;
}
.glow1 {
	animation: glowing 0.7s ease-in-out;
}

.glow2 {
	animation: glowing 0.9s ease-in-out;
}

.slow-fade {
	animation: slow-fade 1s ease-in-out;
}
@media screen and (max-width: 820px) {  
	.progressionMilestone-container {
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.progressionMilestone-separator {
		margin: 1.2rem 0;
		width: 6px;
		border-radius: 10px;
		height: 80px;
	}
	.progressionMilestone-title {
		text-align: center;
		height: auto;
		  overflow-wrap: break-word;
	}

}

@keyframes slow-fade {
	from {opacity: 0%;}
	to {opacity: 100%;}
  }

@keyframes glowing {
    0% {
        filter: sepia(0%);
    }
    50% {
        filter: sepia(200%);
    }
    100% {
        filter: sepia(0%);
    }
  }